<textarea class="form-control form-control-textarea c-hidden-textarea" name="gl_detalle_finalizado" id="gl_detalle_finalizado" rows="3" >{$datos["0"]["gl_detalle_finalizado"]}</textarea>
<input type="hidden" name="nr_horas_utilizadas" id="nr_horas_utilizadas" value="{$datos['0']['nr_horas_utilizadas']}" class="form-control col-xs-6" />
<input type="hidden" name="fc_fecha_creacion_reg" id="fc_fecha_creacion_reg" value="{$datos['0']['fc_fecha_creacion_reg']}" class="form-control col-xs-6" /> 
<input type="hidden" name="fc_fecha_termino_reg" id="fc_fecha_termino_reg" value="{$datos['0']['fc_fecha_termino_reg']}" class="form-control col-xs-6" /> 
