<link href="{$static}template/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css"/>

        <form role="form" class="form-horizontal">
            <div class="row">
                <div class="col-md-6 top-spaced" style="width:100%">
                <div class="margin-bottom-10"></div>
                <!-- Mientras cerrare estos 2 divs-->
                </div></div>
                <!--      -->
                {include file="Solicitudes/Grillas/tareas.tpl"}

        </form>
                {include file="Solicitudes/Grillas/asignados_acciones.tpl"}

