Estimado(a) {$nombre}, <br><br>

Ud. ha solicitado una nueva contraseña para ingresar al sistema. La nueva constraseña es <strong>{$pass}</strong>.
<br/><br/>
Si usted no inicio este proceso, ignore este mensaje.<br><br>

Saludos,<br><br>

FACTURACIÓN