.top-spaced{margin-top:15px}
table.table >thead>tr>th{text-align: center !important;background-color: #3C8DBC !important;color:#fff !important;vertical-align: middle !important;border-radius: 0}
table.table>tbody>tr>td{vertical-align: middle !important; border-color: #ccc}
table.bordered > thead > tr > th, table.bordered > tbody > tr > td{border-color: #aaa !important}
table.dataTable>thead>tr>th{text-align: center !important;background-color: #3C8DBC !important;color:#fff !important;vertical-align: middle !important;}
table.dataTable>tbody>tr>td{vertical-align: middle !important; border-color: #ccc}


.c-title{
	margin-top:0px;
	font-size:18px;
}

.c-fecha-1{
	height: 25px; 
	width: 50px;    
	margin-left:5px;
}

.c-fecha-2{
	width:20px;
	float:left;
}

.c-cont-fechas{
	 float:left; 
	 margin-top:-1px;
}

.c-success{
	margin-left:15px;
	margin-top:10px;
}

.c-hidden-textarea{
	visibility:hidden;
}

.c-content{
	min-height:100px;
}

.c-box-success{
	margin:0px;
}

.c-form-group{
	float:left; width:100%;
	margin-top:15px;
}

.c-input-group-btn{
	float:left; margin-left:2px;
	margin-top:5px;
}

.c-btn-flat{
	margin-right:5px;
}

.c-box-body{
	margin-top:-15px;
}

.c-button{
	margin-bottom:2px;
}

.c-box{
	margin-bottom:10px;
}