
        <div id="barra_progreso" class="progress progress-striped id_progreso"></div>
        <style type ="text/css">

        .id_progreso{
        	background:green;
        	height:10px;
        	width:0px;
        	float: left;
		margin: 0px;
                border-radius: 4px;
        }
        
        .id_progreso_add{
        	background:green;
        	height:10px;
        }
        </style>
